.section{
    /*background-color: red;*/ 
}

.container{
    padding: 0 6rem;
    margin: 0 auto;
    text-align: center;
}

.container h1{
    margin-top: 3.2rem;
    font-size: 4.2rem;
}


/*for the main contact two section*/

.contact_section{
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.contact_section span{
    color: #e50914;
}

.mapping{
    width: 100%;
}

