.main{
    display: flex;
}   
.content{
    width: 60%;
    padding: 5rem 8rem 0 16rem;
}
.content p{
    color: grey;
    font-weight: bold;
}
.content h2{
    font-style: normal;
    font-size: 4rem;
}
.content p1{
    color: grey;
    font-size: 2rem;
}
.btn{
    padding: 5rem 0 0 0;
}
.img {
    text-align: center;
    border-radius: 20px;
    object-fit: cover;
        height: 400px;
        width: 600px;
}
@media screen and (max-width: 400px) {
    .main{
        flex-direction: column;
    }   
    .content{
        width: 100%;
        padding: 0rem 1rem 0 1rem;
        text-align: center;
    }
    .content p{
        margin: 0%;
    }
    .content h2{
        font-size: 3rem;
    }
    .content p1{
        color: grey;
        font-size: 2rem;
    }
    .btn{
        padding: 1rem 0 0 0;
    }
    .img{
        object-fit: cover;
        height: 200px;
        width: 350px;
    }
}
@media screen and (max-width: 585px) {

}

@media screen and (max-width: 750px) {

}

@media screen and (min-width: 1350px) {

}