.bg{
    background-image: url(/public/Plans_PCODBanner.jpeg);
}
.title{
    font-size: 3rem;
    color: #67788a;
    font-family: 'Optimistic Text Bold', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 34px;
    padding-bottom: 4rem;
    text-align: center;
}
.main{
    margin: 3rem;
    padding: 6rem 26rem 0 20rem;
}

.circle{
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 2px #CBD2D9 solid;
    border-radius: 100%;
    color: #67788a;
    content: counter(item);
    display: inline-flex;
    font-size: 16px;
    font-weight: 800;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
}
.heading{
    color: #67788a;
    font-family: 'Optimistic Text Bold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 34px;
    margin-bottom: 15px;
}
.content{
    font-size: 1.6rem;
/* line-height: 1.5; */
margin: .5rem 0 2rem 4.5rem;
font-weight: 300;
letter-spacing: .05rem;
line-height: 1.65;
color: gray;
position: relative;
}



/* .para{
    font-family: 'Optimistic Text Normal', Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: .34px;
    line-height: 1.5;
} */